.arrow {
  display: none;
}

@media screen and (max-width: 768px) {
  .arrow {
    display: inline;
    position: fixed;
    right: 5%;
    bottom: 30px;
    z-index: 9999;
    opacity: 0;
    transition: 0.3s ease;
  }
}
